@model Motosfera.Models.Post

<section class="py-3">
    <div class="container">
        <h2 class="mb-4">Dodaj nowy post</h2>

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Title" class="mb-2">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Content" class="mb-2">Treść</label>
                <textarea asp-for="Content" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ImageFile" class="mx-1">Dodaj zdjęcie główne</label>
                <input asp-for="ImageFile" type="file" class="form-control-file" />
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <p><strong>Aktualne zdjęcie:</strong></p>
                    <img src="@Url.Content(Model.ImagePath)" alt="Zdjęcie-główne-posta" class="img-fluid" style="max-width: 200px;" />
                }
            </div>

            <button type="submit" class="btn btn-success w-100">Zapisz zmiany</button>
        </form>
    </div>
</section>

<script src="https://cdn.tiny.cloud/1/tlwed8uiudl884ppwjl87s9lk3pjacfx5u2i254f14oiok1c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#editor',
        plugins: 'lists link image code',
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image',
        menubar: false,
        height: 300
    });
</script>